@import '../../css/mixins';

.dashboard-blog-add-container {
   padding: 20px 25px;
   
   .btn-submit-blog {
      font-weight: bold;
      color: #777;
      background-color: #e6e6e6;
      width: fit-content;
      padding: 3px 10px;
      border-radius: 4px; 
   }
}