// body{
//    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// }

h2 {
   font-size: 18px;
   padding: 10px 20px;
   color: #575ed8;
}

#flash-chat {
   width: 50%;
   margin: 30px auto;
   border-bottom: 0 none;
   box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12),
      0 2px 4px 0 rgba(0, 0, 0, 0.14);
   border-radius: 4px;
}
#chat-window {
   max-height: 600px;
   min-height: 350px;
   overflow: auto;
   background: hsla(190, 48%, 54%, 0.074);
   display: flex;
   flex-direction: column;
}

#chat-room-title {
   p {
      font-size: 1.5em;
      color: #00ACC1;
      background-color: hsla(190, 48%, 54%, 0.074);;
      width: fit-content;
      margin: 40px auto 0;
      font-weight: bold;
      padding: 2px 15px;
      border-radius: 10px;
   }
}

#output {
   padding: 14px 0px;
   margin: 0 20px;
   // border-bottom: 1px solid #e9e9e9;
   color: #555;
   font-size: 14px;
   width: auto;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#chat-item-container {
   display: flex;
   flex-direction: column;
   margin: 10px 0;
}

#chat-item-handle {
   font-size: 12px;
   font-weight: bold;
   width: auto;
   color: #00acc1;
}

#chat-item-messages {
   font-size: 14px;
   max-width: 100%;
   width: fit-content;
   background-color: #00abc11f;
   height: fit-content;
   color: #777;
   border-radius: 7px;
   display: flex;
   flex-direction: column-reverse;
   text-align: start;
   flex-wrap: wrap;
   padding: 0px 10px;
}

#chat-item-messages p {
   width: auto;
   max-width: 100%;
   height: auto;
}

#feedback p {
   color: #aaa;
   padding: 14px 0px;
   margin: 0 20px 40px;
}

label {
   box-sizing: border-box;
   display: block;
   padding: 10px 20px;
}

#input-message {
   padding: 0px 10px;
   background: #eee;
   display: block;
   color: hsla(0, 0%, 33%, 0.541);
   background: #fff;
   // border-bottom: 1px solid #eee;
}

#input-handle {
   padding: 0px 10px;
   background: #eee;
   display: block;
   color: hsla(0, 0%, 33%, 0.541);
   background: #fff;
   // border-bottom: 1px solid #eee;
}


button {
   background: hsl(45, 100%, 59%);
   color: #fff;
   font-size: 18px;
   border: 0;
   padding: 15px 0;
   width: 100%;
   margin-top: 10px;
   border-radius: 0 0 4px 4px;
}

@media only screen and (max-width: 1300px) {
   #flash-chat {
      width: 60%;
   }
}

@media only screen and (max-width: 700px) {
   #flash-chat {
      width: 90%;
      p {
         font-size: 0.8em;
      }
   }
}
