// body{
//    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// }

h2 {
   font-size: 18px;
   padding: 10px 20px;
   color: #575ed8;
}

#flash-chat {
   width: 50%;
   margin: 30px auto;
   border-bottom: 0 none;
   box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12),
      0 2px 4px 0 rgba(0, 0, 0, 0.14);
   border-radius: 4px;
}
#chat-window {
   height: 400px;
   overflow: auto;
   background: hsla(190, 48%, 54%, 0.074);
}

#output p {
   padding: 14px 0px;
   margin: 0 20px;
   // border-bottom: 1px solid #e9e9e9;
   color: #555;
   font-size: 14px;
   overflow: hidden;
   // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#feedback p {
   color: #aaa;
   padding: 14px 0px;
   margin: 0 20px;
}

#output p:nth-child(2n) {
   color: #00acc1;
   margin-right: 5px;
   text-align: right;
   margin-right: 14px;
}

#item-handle {
   font-weight: bold;
   margin-right: 5px;
   padding: 5px 10px;
   background: #00abc11f;
   border-radius: 5px;
}

#output p:nth-child(2n + 1) {
   color: #ffae00;
   margin-right: 5px;
}

label {
   box-sizing: border-box;
   display: block;
   padding: 10px 20px;
}

#input-handle #input-message {
   padding: 10px 20px;
   background: #eee;
   border: 0;
   display: block;
   color: #555555bd;
   width: 50%;
   background: #fff;
   border-bottom: 1px solid #eee;
   font-size: 14px;
}

button {
   background: hsl(45, 100%, 59%);
   color: #fff;
   font-size: 16px;
   border: 0;
   padding: 10px 0;
   width: 100%;
   border-radius: 0 0 4px 4px;
}

@media only screen and (max-width: 1300px) {
   #flash-chat {
      width: 60%;
   }
}

@media only screen and (max-width: 700px) {
   #flash-chat {
      width: 90%;
      p {
         font-size: 0.8em;
      }
   }
}
