body{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
   font-size: 18px;
   padding: 10px 20px;
   color: #575ed8;
}

#flash-chat{
   max-width: 600px;
   margin: 30px auto;
   border-bottom: 0 none;
   box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12),
      0 2px 4px 0 rgba(0, 0, 0, 0.14);
   border-radius: 4px;
}
#chat-window{
   height: 400px;
   overflow: auto; 
   background: hsla(187, 93%, 39%, 0.068);
}

#output p{
   padding: 14px 0px;
   margin: 0 20px;
   border-bottom: 1px solid #e9e9e9;
   color: #555;
   font-size: 14px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#feedback p{
   color: #aaa;
   padding: 14px 0px;
   margin: 0 20px;
}

#output strong{
   color: #00ACC1;
   margin-right: 5px;
}

label{
   box-sizing: border-box;
   display: block;
   padding: 10px 20px;
}

input{
   padding: 10px 20px;
   box-sizing: border-box;
   background: #eee;
   border: 0;
   display: block;
   color: #555;
   width: 100%;
   background: #fff;
   border-bottom: 1px solid #eee;
   font-size: 14px;
}

button{
   background: hsl(45, 100%, 59%);
   color: #fff;
   font-size: 15px;
   border: 0;
   padding: 10px 0;
   width: 100%;
   border-radius: 0 0 4px 4px;
}