@import '../../css/mixins.scss';

.dashboard-add-container {
   margin: 0px auto;
   border-radius: 5px;
   height: 80%;
   width: 90%;
   display: flex;
   flex-direction: column;

   input + p {
      opacity: 0;
   }

   input.invalid + p {
      opacity: 1;
   }

   #vietnamese-title, #english-title, #example, #type, #image, #context {
      font-size: 0.95em;
   }

   .dashboard-add-button {
      display: flex;
      justify-content: flex-end;
      .dashboard-add-button-add {
         padding: 6px 30px;
         background-color: #eef5f6;
         color: #00acc1;
         border-radius: 4px;
         font-size: 1em;
         font-weight: bold;
         cursor: pointer;
         margin-right: 5px;
      }
      .dashboard-add-button-cancel {
         padding: 6px 20px;
         color: #aaa;
         border: 1px solid hsla(0, 0%, 67%, 0.163);
         border-radius: 4px;
         font-size: 1em;
         font-weight: bold;
         cursor: pointer;
         margin-right: 5px;
      }
   }

   .dashboard-add-title {
      font-weight: bold;
      font-size: 1em;
      color: #50AEC1;
   }
}