@import "../../css/mixins.scss";

.profile-chart-container {
   display: flex;
   justify-content: center;
   width: 55%;
   margin: 30px auto;
}

.chart-container {
   flex-basis: 35%;
   margin: 0px 15px;
   p {
      margin: 0;
   }
}

.profile-item-container {
   flex-basis: 60%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   background-color: #fff;
   @include shadow;
   border-radius: 5px;
   width: 30%;
   height: fit-content;
   margin: 0px auto;

   .profile-item-left {
      flex-basis: 35%;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 5px 0 0 5px;
      }
   }

   .profile-item-right {
      flex-basis: 65%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 20px;

      .profile-title {
         height: 18%;
         display: flex;
         flex-direction: row;
         align-items: flex-start;

         .profile-item-name {
            font-weight: bold;
            color: #50aec1;
            font-size: 1.4em;
         }

         .profile-item-isVip {
            color: #f7ca29;
            background-color: #f2f2f2;
            padding: 2px 12px 2px;
            font-weight: bold;
            border-radius: 4px;
            font-size: 0.9em;
            margin-left: 8px;
            margin-bottom: 0;
         }
      }

      .profile-item-email {
         height: 18%;
         color: #888;
         margin-top: 5px;
      }

      .profile-item-score {
         height: 18%;
         color: #888;
         margin-top: 5px;
         font-size: 0.85em;
         span {
            color: #f8bc07;
            font-weight: bold;
            font-size: 1.5em;
            margin-right: 4px; 
         }
      }

      .profile-item-logout {
         height: auto;
         margin-bottom: 5px;
         margin-top: 5px;
         background-color: #f2f2f2;
         padding: 2px 15px 2px;
         font-weight: bold;
         border-radius: 4px;
         font-size: 1em;
         align-self: flex-end;
         a {
            color: rgba(233, 82, 97, 0.728);
         }
      }

      .profile-item-manage {
         height: auto;
         margin-top: 5px;
         margin-bottom: 5px;
         background-color: #f2f2f2;
         padding: 2px 15px 2px;
         font-weight: bold;
         border-radius: 4px;
         font-size: 1em;
         align-self: flex-end;
         a {
            color: #00acc1;
         }
      }
   }
}

@media only screen and (max-width: 1400px) {
   .profile-item-container {
      width: 50%;
   }
}

@media only screen and (max-width: 1400px) {
   .profile-chart-container {
      flex-direction: column;
      align-items: center;
   }
   .profile-item-container {
      width: 80%;
   }
   .chart-container {
      width: 80%;
      margin-top: 20px; 
   }
}

@media only screen and (max-width: 660px) {
   .profile-item-container {
      font-size: 0.8em;
      width: 80%;
      .profile-item-left {
         flex-basis: 40%;
      }
      .profile-item-right {
         flex-basis: 60%;
      }
   }
   .profile-chart-container {
      flex-direction: column;
   }
}
