@import "../../css/mixins.scss";

.blog-home-container {
   width: 70%;
   background-color: #fbfbfb;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin: 20px auto;
   
   .blog-home-left {
      flex-basis: 75%;
      display: flex;
      flex-direction: column;
      background-color: #fbfbfb;
      padding: 0px 20px;
   }

   .blog-home-right {
      flex-basis: 25%;
      display: flex;
      flex-direction: column;
      position: fixed;
      right: 15%;

      .blog-home-tags {
         background-color: #fbfbfb;
         border-radius: 5px;
         @include shadow;
      }

      .blog-home-chart {
         background-color: #fbfbfb;
         margin-top: 10px;
         border-radius: 5px;
         @include shadow;
      }

   }
}

@media only screen and (max-width: 1300px) {
   .blog-home-container {
      width: 95%;
      .blog-home-right {
         position: static;
      }
   }
}

@media only screen and (max-width: 1000px) {
   .blog-home-container {
      width: 80%;
      flex-direction: column;
      .blog-home-right {
         margin-top: 10px;
         position: static;
      }
   }
}  

@media only screen and (max-width: 700px) {
   .blog-home-container {
      width: 95%;
      flex-direction: column;
      .blog-home-right {
         margin-top: 10px;
         position: static;
      }
   }
}  

