@import '../../../css/mixins.scss';

.tags-container {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;

   .tags-name {
      flex-basis: 40%;
      color: #666;
   }
}