@import "../../css/mixins.scss";

.flashcards-page-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.flashcards-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-basis: 24.3%;
   background: #fff;
   width: 30%;
   height: auto;
   margin: 10px 0 4px;
   @include shadow;
   color: #555;
   padding: 5px 2px;

   .type {
      color: orange;
   }

   .hide-item {
      display: none;
      opacity: 0;
   }

   &:hover {
      .hide-item {
         display: block;
         opacity: 1;
         color: #888;
         transition: opacity 1s;
      }
   }

   h4,
   h5,
   p,
   img {
      width: 100%;
      display: block;
      margin: 20px auto;
      text-align: center;
   }

   img {
      width: 70%;
      height: 200px;
      object-fit: cover;
      @include shadow;
      border-radius: 6px;
      margin-bottom: 40px;
   }
}


@media only screen and (max-width: 1500px) {
   .flashcards-page-container {
      display: flex;
      flex-direction: row;
   }
   .flashcards-item {
      flex-basis: 31.9%;
      width: 70%;
   }
}

@media only screen and (max-width: 1000px) {
   .flashcards-page-container {
      display: flex;
      flex-direction: row;
   }
   .flashcards-item {
      flex-basis: 48%;
      margin: 10px auto;
      width: 48%;
   }
}

@media only screen and (max-width: 500px) {
   .flashcards-page-container {
      display: flex;
      flex-direction: column;
   }
   .flashcards-item {
      flex-basis: 95%;
      margin: 10px auto;
      width: 95%;
   }
}
