@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

$titleColor: rgb(21, 118, 228);
$hoverColor: rgb(238, 219, 45);


body {
  margin-top: 21px;
  padding: 0 50px;
  width: 100%;
  font-weight: normal;
  font-size: 22px;
  color: rgb(83, 83, 83);
  font-family: "Fira Sans", sans-serif;
  display: block;
  text-align: center;
}

.app {

  color: $titleColor;

  &:hover {

    color: $hoverColor;
    transition: color 0.5s;

  }

}

#title {
  color: $titleColor;
}

.inputText {
  border: 1px solid #aaa;
  margin-right: 5px;
  height: 35px;
  border-radius: 5px;
  font-size: 16px;
  padding: 2px 8px;
  font-family: "Fira Sans", sans-serif;
  color: #777;
}

.btnSubmit {
  height: 35px;
  width: 80px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  background-color: rgb(82, 17, 126);
  color: #00ffc8;
  font-weight: bold;
}

#outputTitle {
  margin: 10px 0;
}

#simpleBox {
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;  
  padding: 1%;
  margin: 3px 0;
}

.rank {
  font-size: 60px;
}

.song {
  font-size: 50px;
  color: hsl(263, 65%, 43%);
}

.artist {
  color: hsl(150, 57%, 50%);
  font-weight: bold;
}

.userBox2 {
  box-sizing: border-box;
  background-color: #BFD8BD;
  border: 1px solid #BFD8BD;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75%;
  border-radius: 5px;
  margin-bottom: 25px;

  // box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #FF8811;
}

.userBox {
  box-sizing: border-box;
  background-color: #FF8811;
  border: 1px solid #FF8811;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75%;
  border-radius: 5px;
  margin-bottom: 25px;

  // box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #FF8811;
}

.userItem {
  flex: 1 1 400px;
  // justify-content: center;
  // align-content: center;
  border: 1px solid #FFF8F0;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #ddd;
  width: 50%;
  padding: 1% 0 2%;
  margin: 0.75%;
  background-color: #FFF8F0;
  border-radius: 5px;
  font-size: 17px;
  
  p {
    margin: 2px;
  }
  
  color: #392F5A;
  font-weight: 500;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  .id {
    color: #FF8811;
    font-size: 50px;
  }

  // &:hover {
  //    box-shadow: 0 14px 28px rgba(0,0,0,0.16), 0 10px 10px rgba(0,0,0,0.12);

  //   .id {
  //     font-size: 65px;
  //     color: #FF8811;
  //     margin-top: 0.5%;
  //     transition: font-size 0.3s linear;
  //     transition: color 0.3s linear;
  //     transition: margin-top 0.3s linear;
  //   }
  // }
}

@media screen and (max-width: 960px) {

  // .userBox {
  //   // display:
  // }

  // .userItem {

  // }


}

.id {
  font-size: 45px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-flow: column;
}

.button-delete {
  margin: 3.5% 0 1.5%;
}