@import '../../css/mixins';


.register-form-container {
   width: 40%;
   height: auto;
   margin: 60px auto;
   @include shadow;
   padding: 60px 50px 70px;

   .register-form-title {
      font-size: 1.1em;
      font-weight: bold;
      color: rgb(255, 177, 31);
      margin-top: 15px;
      cursor: pointer; 
   }

   p {
      color: rgb(255, 177, 31);
      font-size: 1.8em;
      margin-top: 0; 
   }

   .btn-submit {
      margin-top: 20px;
      color: #fff;
      background-color: hsl(39, 100%, 56%);
      border-radius: 4px;
      font-size: 1.2em;
      padding: 3px 15px;
      width: fit-content;
      cursor: pointer;
   }
}

@media only screen and (max-width: 660px) {
   .register-form-container {
      padding: 10px 10px 10px;
      width: 100%;
      margin: 50px auto;
      font-size: 0.9em;
   }
}

@media only screen and (max-width: 1000px) {
   .register-form-container {
      width: 70%;
   }
}

@media only screen and (max-width: 1400px) {
   .login-form-container {
      width: 55%;
   }
}