@import "../../css/mixins";

.dashboard-container {
   display: flex;
   width: 70%;
   flex-direction: row;
   justify-content: space-around;
   height: auto;
   @include shadow;
   margin: 30px auto;

   .dashboard-left-side {
      flex-basis: 20%;
      background-color: #eef5f6;
      border-radius: 6px 0 0 6px;
      display: flex;
      flex-direction: column;

      ul {
         margin: 0 auto 30px;
         width: 100%;

         p {
            width: fit-content;
            margin: 0 auto;
            font-weight: bold;
            font-size: 1.3em;
            color: #fbc520;
            padding: 40px 0;
         }
      }

      li {
         padding: 5px 0;
         background-color: hsla(0, 0%, 100%, 0.698);
         margin: 20px auto;
         width: 90%;
         border-radius: 4px;

         &:first-of-type {
            margin: 0 auto;
         }

         a {
            color: #00acc1;
            width: fit-content;
            font-weight: bold;
            margin: 0 auto;
            display: block;
         }
      }
   }

   .dashboard-right-side {
      padding: 20px 0;
      border-radius: 0 10px 10px 0;
      flex-basis: 80%;
      background-color: #fff;
   }
}

@media only screen and (max-width: 768px) {
   .dashboard-container {
      width: 95%;
      flex-direction: column;

      .dashboard-left-side {
         flex-direction: row;
      }
   }
}

@media only screen and (max-width: 1168px) {
   .dashboard-container {
      width: 95%;

      .dashboard-left-side {
         flex-direction: row;
      }
   }
}
